<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.scheduledtask.dao.SysJobMapper">
  <resultMap id="BaseResultMap" type="com.example.scheduledtask.domain.SysJob">
    <!--@mbg.generated-->
    <!--@Table sys_job-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bean_name" jdbcType="VARCHAR" property="beanName" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="method_param" jdbcType="VARCHAR" property="methodParam" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, bean_name, method_name, method_param, cron, remark, `status`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_job
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.scheduledtask.domain.SysJob" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_job (bean_name, method_name, method_param, 
      cron, remark, `status`, 
      create_time, update_time)
    values (#{beanName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{methodParam,jdbcType=VARCHAR}, 
      #{cron,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

<!--auto generated by MybatisCodeHelper on 2021-10-15-->
  <select id="listAllByStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_job
        where `status`=#{status,jdbcType=INTEGER}
    </select>
</mapper>